

// directory

.directory-card{
    .directory-card-bg{
        background: url("../images/bg-directory-pattern.png");
        background-size: cover;
        background-position: center;
    }
    .social-icons{
        .social-links{
            position: absolute;
            bottom: 20px;
            right: 0px;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            background: rgba($primary, 0.5)
        }
    }
    
}